<p id="notice"><%= notice %></p>

<p>
  <strong>Railway:</strong>
  <%= @station.railway %>
</p>

<p>
  <strong>Station:</strong>
  <%= @station.station %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @station.distance %>
</p>

<p>
  <strong>Property:</strong>
  <%= @station.property_id %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
