<p id="notice"><%= notice %></p>

<h2>Property Details</h2>

<p>
  <strong>Property:</strong>
  <%= @property.property_name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Building age:</strong>
  <%= @property.building_age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>

<% count = 0 %>

<% @stations.each do |station| %>
  <% count = count + 1 %>
  <h2>Nearest station <%= count %></h2>

  <p>
    <strong>Name of railways</strong>
    <%= station.railway %>
  </p>
  <p>
    <strong>Station name</strong>
    <%= station.station %>
  </p>
  <p>
    <strong>How many minutes walk</strong>
    <%= station.distance %>
  </p>
<% end %>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
